/* Navigation Links */
.navbar-nav > a 
{
  font-size: large;
}

/* Page Layout */
.content 
{
  padding-top: 1em;
  min-height: calc(79vh - 1rem);
}

/* Design for the graph and prev query inputs */
  pre 
  {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }