{% extends "base.html" %}
{% block content %}

<!--Print the previous query at the top of the page-->
{% if query %}
<div style="text-align: center;">
    <pre>Previous Input : {{ query }}</pre>
</div>
{% endif %}

<!--The query form-->
<div style="padding-top: 5%">
    <h1 style="text-align: center; padding-bottom: 1%;">Query</h1>
    <form action="/query" method="post">
        <div class="form-group">
        <input type="text" class="form-control" id="query" name="query" aria-describedby="form-text" placeholder="Enter query">
        </div>
        <div style="padding-top: 1%; text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<!--The add form-->
<div style="padding-top: 5%; padding-bottom: 5%; width: 40%; display: inline-block;">
    <h1 style="text-align: center; padding-bottom: 1%;">Add to Graph</h1>
    <form action="/add" method="post">
        <div class="form-group">
        <input type="text" class="form-control" id="add" name="add" aria-describedby="form-text" placeholder="Add to Graph">
        </div>
        <div style="padding-top: 1%; text-align: center;">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

<!--The remove form-->
<div style="padding-top: 5%; padding-bottom: 5%; width: 40%; float: right;">
    <h1 style="text-align: center; padding-bottom: 1%;">Remove from Graph</h1>
    <form action="/remove" method="post">
        <div class="form-group">
        <input type="text" class="form-control" id="remove" name="remove" aria-describedby="form-text" placeholder="Remove from Graph">
        </div>
        <div style="padding-top: 1%; text-align: center;">
            <button type="submit" class="btn btn-primary">Remove</button>
        </div>
    </form>
</div>

<!--Print the result at the bottom of the screen-->
{% if graph %}
<div>
    <pre style="text-align: left;">{{ graph }}</pre>
</div>
{% endif %}

{% endblock %}
