<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  
  <!-- Load CSS -->
  <link rel="stylesheet" href="/static/style.css">

  <!-- Load Page Title -->
  <title>CITS3200</title>

</head>
<body>
  <!-- Container for block content -->
  <div class="content container-lg">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
